.homeLink {
    text-decoration: none;
    color: white;
}

.menuBarLink {
    text-decoration: none;
    color: #bdfef2;
}

.header {
    width: 100%;
    padding: 50px 0 50px;
    background: black;
    color: white;
    text-align: center;
    justify-content: center;
}